<!DOCTYPE html>
<html>
<head>
    <title>Job page</title>
    <style>
      body{
        background : #a6a6a6;
        font-style: oblique;
        font-family: 'Times New Roman', Times, serif;
      }
    </style>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript">
     
       var app =  angular.module('MyApp', []);
        app.controller('MyController', function ($scope, $window) {
            $scope.job = [
                { company: "Amazon", jobtitle: "Full stack developer" , salary:"2000000-2400000 PA",city:"Chennai"},
                { company: "HP",  jobtitle:"Network analyst" , salary:"1700000 PA",city:"Bangalore"},
                { company: "Adobe", jobtitle: "Project manager", salary :"1500000 PA" ,city:"Coimbatore"},
                { company: "Flipkart", jobtitle: "Network Administrator", salary:"1900000 PA",city:"Chennai"}
                ];
 
            $scope.Add = function () {
                //Add the new item to the Array.
                var jobs = {};
                jobs.company = $scope.company;
                jobs.jobtitle = $scope.jobtitle;
                jobs.salary = $scope.salary;
                jobs.city = $scope.city;
                $scope.job.push(jobs);
 
                //Clear the TextBoxes.
                $scope.company = "";
                $scope.jobtitle = "";
                $scope.salary = "";
                $scope.city = "";
            };
 
            $scope.Remove = function (index) {
                //Find the record using Index from Array.
                var name = $scope.job[index].company;
                if ($window.confirm("Do you want to delete: " + name)) {
                    //Remove the item from Array using Index.
                    $scope.job.splice(index, 1);
                }
            }
            $scope.length = '';
 $scope.getLength = function() {
     $scope.length = $scope.job.length;
	 alert(" Number of jobs available : "+$scope.length);
 };
 });  
  
    
    </script>
	<br><br><br>
	<h2><center>Post / Search Jobs here !</center></h2>
	<br><br><br>
    <div ng-app="MyApp" ng-controller="MyController">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Company</th>
                <th>Job Title</th>
                <th>Salary</th>
                <th>City</th>
                <th></th>
            </tr>
            <tbody ng-repeat="m in job">
                <tr>
                    <td>{{m.company}}</td>
                    <td>{{m.jobtitle}}</td>
                    <td>{{m.salary}}</td>
                    <td>{{m.city}}</td>
                    <td><input type="button" ng-click="Remove($index)" value="Remove" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><input type="text" ng-model="company" /></td>
                    <td><input type="text" ng-model="jobtitle" /></td>
                    <td><input type="text" ng-model="salary" /></td>
                    <td><input type="text" ng-model="city" /></td>
                    <td><input type="button" ng-click="Add()" value="Add" /></td>
                </tr>
            </tfoot>
        </table>
    
		<br><br><br>
        <h3>Search for Jobs!</h3>
        Filter using Company: <input type="text" ng-model="fcompany" />
        City : <input type="text" ng-model="fcity" />
        <table class="table">
            <tr>
                <th>Company</th>
                <th>Job Title</th>
                <th>Salary</th>
                <th>City</th>
            </tr>
            <tr ng-repeat="m in job | filter: { company: fcompany, city : fcity }">
                <td>{{m.company}}</td>
                <td ng-bind="m.jobtitle"></td>
                <td ng-bind="m.salary"></td>
                <td>{{m.city}}</td>
            </tr>
        </table>
			<br><br><br>
			<br><br><br>
          <br>
          <button ng-click="getLength()">Click To Get the number of jobs currently available</button>
           
         
      <br>
    </div> 
</body>
</html>

